CONFIG_STATIC=y
CONFIG_BUSYBOX=y
CONFIG_ASH=y
CONFIG_ASH_BUILTINS=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_CP=y
CONFIG_RM=y
CONFIG_MV=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_TEE=y
CONFIG_GREP=y
CONFIG_FIND=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_TOUCH=y
CONFIG_DMESG=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_PWD=y
CONFIG_CD=y
CONFIG_SLEEP=y
CONFIG_SH=y
CONFIG_TEST=y
CONFIG_TR=y
CONFIG_WC=y
CONFIG_UNAME=y
CONFIG_EXPR=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_CPIO=y
