name: Assignment Build and Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y qemu-system-aarch64 gcc-aarch64-linux-gnu build-essential

    - name: Run full test
      run: bash ./full-test.sh

